app-snippets/src/test/resources/snippets/xml/xsd/dom/a1/tree.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="node1" type="node1Type" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="node1Type">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="node1" type="node1Type" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
</xs:schema>
